<!DOCTYPE html>
{% autoescape true %}
<div id="message" class="drop-shadow raised">
<br>
<h2>
{% if v.q_id %}
User {{ v.v_user }} voted {{ v.up_down }} for question:
<br><br>{{ q.q_title }}<br>
{% else %}
User {{ v.v_user }} voted {{ v.up_down }} for answer:
{% if a.a_content| length >200 %}
<br><br>{{ a.a_content[0:200] }}...(view full question)<br>
{% else %}
<br><br>{{ a.a_content }}<br>
{% endif %}
for question <br><br>{{ q.q_title }}<br>of user {{ q.q_user }}
{% endif %}

</h2>
<h2>
<br>Voted time: {{ v.v_time }}:
<br>
<br><a href="/question/view?qid={{ q.q_id }}">View this question</a> 
</h2>
</div>
{% endautoescape %}
