<!DOCTYPE html>
{% autoescape true %}
<!-- Begin loops-->

{%  if Qs|length > 0 %}
{% for q in Qs %}
<div id="questionlist" class="drop-shadow raised">
{%  if q.q_tags|length >0 %}
{% for t in q.q_tags %}
<a style="font-size:120%" 
href="/question/{{ tag_mode }}?tag={{ t }}">#{{ t }}</a>
&nbsp;&nbsp;
{% endfor %}
{% endif %}
<p style="font-size:200%">{{ q.q_title }}</p>
{%  if q.q_content|length > 500 %}
<p style="font-size:140%">{{ q.q_content[:500] | safe }}...</p>
{% else %}
<p style="font-size:140%">{{ q.q_content | safe }}	
</p>
{%  endif %}
{% if q.edit_time != None and q.edit_time != q.create_time %}
<div>----Edited by {{ q.q_user }} on  {{ q.edit_time }}</div>
{% endif %}
<div>----Created by {{ q.q_user }} on {{ q.create_time }}</div>
<h3><a href="/question/view?qid={{ q.q_id }}">View</a>
&nbsp;&nbsp;
{% if view_my_question %}
<a href="/question/edit?qid={{ q.q_id }}">Edit</a>
&nbsp;&nbsp;
<a href="/question/answer/add?qid={{ q.q_id }}">Answer</a>
</h3>
{% endif %}
{% if not view_my_question %}
{% if q.q_user|string() != current_user|string() %}
<a href="/question/answer/add?qid={{ q.q_id }}">Answer</a>&nbsp;&nbsp;
<a href="/user/view?{{q.q_user}}">View user</a>
</h3>
{% else %}
<a href="/question/answer/add?qid={{ q.q_id }}">Answer</a>
&nbsp;&nbsp;
This question belongs to you.
</h3>
{% endif %}
{% endif %}
<h4>{{ q.vp_num }} Up {{ q.vd_num }} Down</h4>
<form enctype="multipart/form-data" method="post">
&nbsp;&nbsp;
<input type='hidden' value="{{ q.q_id }}" name='qid'>
<input type='submit' value='Up' name='vote'  />
<input type='submit' value='Down' name='vote' />
</form>
</div>
{% endfor %}
{% else %}
<div class="drop-shadow raised">
<h2>No question yet, ask now!</h2>
</div>
{% endif %}
<!-- End loops-->
<!-- questionlist -->

{% endautoescape %}
