<!DOCTYPE html>
{% autoescape true %}
{% if q %}
<div id="questionlist" class="drop-shadow raised">

{%  if q.q_tags|length > 0 %}
{% for t in q.q_tags %}
<a style="font-size:120%" href="/question/list?tag={{ t }}">#{{ t }}</a>&nbsp;&nbsp;
{% endfor %}
{% endif %}

<p style="font-size:200%">{{ q.q_title }}</p>
<p style="font-size:140%">{{ q.q_content | safe }}</p>
<br>
<br>
{% if q.edit_time != None and q.edit_time != q.create_time %}
{% if q.q_user|string() == current_user|string() %}
<div>----Edited by You on  {{ q.edit_time }}</div>
{% else %}
<div>----Edited by {{ q.q_user }} on  {{ q.edit_time }}</div>
{% endif %}
{% endif %}
{% if q.q_user|string() == current_user|string() %}
<div>----Asked by You on {{ q.create_time }}</div>
{% else %}
<div>----Asked by {{ q.q_user }} on {{ q.create_time }}</div>
{% endif %}
<br>
<br>
<h3>
{% if q.q_user|string() == current_user|string() %}
<a href="/question/edit?qid={{ q.q_id }}">Edit</a>
{% else %}
<a href="/user/view?{{q.q_user}}">View this user</a>
{% endif %}
{% if not answer_mode %}
&nbsp;&nbsp;
<a href="/question/answer/add?qid={{ q.q_id }}">Answer</a>
{% endif %}
&nbsp;&nbsp;<a href="/rss?qid={{ q.q_id }}">RSS this question</a>
</h3>
<h4>{{ q.vp_num }} Up &nbsp;&nbsp;&nbsp; {{ q.vd_num }} Down</h4>
<form enctype="multipart/form-data" method="post">
<input type='hidden' value="{{ q.q_id }}" name='qid'>
<input type='hidden' value="/question/view?qid={{ q.q_id }}" name='redirect'>
<input type='submit' value='Up' name='vote'  />
&nbsp;&nbsp;<input type='submit' value='Down' name='vote' />
</form>
{% else %}
<div class="drop-shadow raised">
	<h2>Sorry no such a question...</h2>
</div>
{% endif %}

{% endautoescape %}
