<!DOCTYPE html>
{% autoescape true %}
{% if q %}
<!-- Begin loops-->
<div id="questionlist" class="drop-shadow raised">
{%  if q.q_tags|length > 0 %}
{% for t in q.q_tags %}
<a style="font-size:120%" 
href="/question/tag?keyword={{ t }}&mode={{ tag_mode }}">
#{{ t }}</a>
&nbsp;&nbsp;
{% endfor %}
{% endif %}
<p style="font-size:200%">{{ q.q_title }}</p>
<p style="font-size:140%">{{ q.q_content }}</p>
<div>----
	Created by {{ q.q_user }} on {{ q.create_time }}.</div>
{% if q.edit_time != None and q.edit_time != q.create_time %}
<div>----
	Edited by on  {{ q.edit_time }}.</div>
{% endif %}
<h3>
{% if view_my_question %}
<a href="/question/answer/add?qid={{ q.q_id }}">Answer</a>
</h3>
{% endif %}
{% if not view_my_question %}
{% if q.q_user|string() != current_user|string() %}
<a href="/question/answer/add?qid={{ q.q_id }}">Answer</a>&nbsp;&nbsp;
<a href="/user/view?{{q.q_user}}">View this user</a>
</h3>
{% else %}
<a href="/question/answer/add?qid={{ q.q_id }}">Answer</a>&nbsp;&nbsp;
<a href="/question/edit?qid={{ q.q_id }}">Edit</a>
</h3>
{% endif %}
{% endif %}
<h4>{{ q.vp_num }} Up {{ q.vd_num }} Down</h4>
</div>
<form enctype="multipart/form-data" method="post">
&nbsp;&nbsp;
<input type='hidden' value="{{ q.q_id }}" name='qid'>
<input type='submit' value='Up' name='vote'  />
<input type='submit' value='Down' name='vote' />
</form>
<!-- End loops-->
{% else %}
<div class="drop-shadow raised">
	<h2>Sorry no such a question...</h2>
</div>
{% endif %}

{% endautoescape %}
